<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--4-col">
          <h4 class="mdl-mega-footer__heading">Kontakta oss</h4>
          <p><a href="https://www.google.com/maps/place/Thai+House+Restaurant/@58.3931511,13.8629581,17z/data=!4m13!1m7!3m6!1s0x465b022e823c1e21:0x550aef22a0d6d0e9!2sL%C3%A4rkstigen+2,+541+34+Sk%C3%B6vde,+Sverige!3b1!8m2!3d58.3930798!4d13.8653439!3m4!1s0x465b022e823c1e25:0xf74ebd01b2c58523!8m2!3d58.392963!4d13.8655062">Lärkstigen 2 <br />541 34 Skövde</a>
          </p>
          <p>Telefon: <a href="tel://+46-500-438181">0500 - 43 81 81</a></p>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <h1 class="mdl-mega-footer__heading">Öppettider</h1>
        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--6-col">Måndag</div>
            <div class="mdl-cell mdl-cell--6-col">11:00 - 21:30</div>
            <div class="mdl-cell mdl-cell--6-col">Tisdag</div>
            <div class="mdl-cell mdl-cell--6-col">11:00 - 21:30</div>
            <div class="mdl-cell mdl-cell--6-col">Onsdag</div>
            <div class="mdl-cell mdl-cell--6-col">11:00 - 21:30</div>
            <div class="mdl-cell mdl-cell--6-col">Torsdag</div>
            <div class="mdl-cell mdl-cell--6-col">11:00 - 21:30</div>
        </div>
        <table class="mdl-data-table">
            <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">John Lennon</td>
      <td>40</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Paul McCartney</td>
      <td>73</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">George Harrison</td>
      <td>58</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Ringo Starr</td>
      <td>74</td>
    </tr>
  </tbody>
        </table>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <h1 class="mdl-mega-footer__heading">Följ oss på facebook</h1>
      </div>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <h4 class="th-copyright mdl-typography--body-1">
        © 2017 Restaurang Thaihouse - av <a href="www.aaronwong.se">acreations</a>
    </h4>
  </div>

</footer>