<div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="mdl-typography--headline mdl-typography--text-center">Besök oss</h2>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2091.0324214453053!2d13.864299205753474!3d58.39285335366314!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf74ebd01b2c58523!2sThai+House+Restaurant!5e0!3m2!1ssv!2sse!4v1506000502589" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>